<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Codojo"
        tools:targetApi="31">
        <activity
            android:name=".JavaCourse_Final_QuizActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_12_TypeconversionActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_11_ClassActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_10_MethodsQuizActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_09_MethodsActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_08_ArraysQuizActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_07_ArraysActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_06_LoopsQuizActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_05_LoopsActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_04_OperatorsQuizActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_03_OperatorsActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_02_VariablesQuizActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_01_VariablesActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourse_00_IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".PythonCourseListActivity"
            android:exported="false" />
        <activity
            android:name=".JavaCourseListActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Codojo.2" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>